version: '3'
services:
    # HTTP App (httpbin) listening on container port 80 & host mapping to 8080
    app1:
        image: ianwijaya/hackazon
        hostname: app1
        ports:
        - "8081:80"
    app2:
        image: ianwijaya/hackazon
        hostname: app2
        ports:
        - "8082:80"
    nginxplus:
        image: nginxplus:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "8000:8000"
